#!/bin/bash

PROJECT_ROOT=$(pwd)
export PROJECT_ROOT

PATH=$PROJECT_ROOT/bin:$PATH
PATH=$PROJECT_ROOT/node_modules/.bin:$PATH

NODE_VERSION=$(jq '.engines.node' package.json | tr -d '"')
export NODE_VERSION
PATH=$PROJECT_ROOT/opt/node$NODE_VERSION/bin:$PATH

YARN_VERSION=$(jq '.engines.yarn' package.json | tr -d '"')
export YARN_VERSION
PATH=$PROJECT_ROOT/opt/yarn$YARN_VERSION/bin:$PATH

export PATH

# Figure out what OS we're running.
case $(uname -s) in
Darwin) OS=darwin ;;
Linux) OS=linux ;;
*)
    echo "Unsupported OS $(uname -s)"
    exit 1
    ;;
esac

export OS

# Figure out what Arch
ARCH=$(uname -m)
case $ARCH in
x86_64) ARCH=x64 ;;
aarch64) ARCH=arm64 ;;
esac

export ARCH
